* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation Bar (Navbar) */
.header-section {
  max-width: 1140px;
  margin: 0 auto;
}
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  background-color: rgb(175, 177, 177, 0.5);
  padding: 20px 25px;
  border-radius: 10px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
}
nav ul li {
  list-style: none;
  font-size: 18px;
}
nav ul li a {
  text-decoration: none;
  color: inherit;
}

.brand {
  color: deeppink;
  font-size: 55px;
}
