* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(241, 245, 247);
}

main,
.header-section {
  max-width: 1140px;
  margin: 0 auto;
}

/* Navigation Bar (Navbar) */

header {
  background-color: rgb(175, 177, 177, 0.5);
}
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
nav ul li {
  list-style: none;
  font-size: 18px;
}
nav ul li a {
  text-decoration: none;
  color: inherit;
}

.brand {
  color: deeppink;
  font-size: 60px;
}

/* Hero Banner */
.hero-banner {
  height: 430px;
  background-image: url("https://imgs.search.brave.com/ho4pRhyKacLbIf4wp9ckHDSS07mCjm386J1rQhlialM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJhY2Nlc3Mu/Y29tL2Z1bGwvMzEy/MTcuanBn");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 50px;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.banner h1 {
  color: white;
  font-size: 40px;
  padding-top: 100px;
}
.banner p {
  font-size: 16px;
  color: white;
  padding: 0 50px;
}
.banner button {
  height: 35px;
  width: 120px;
  border: none;
  font-size: 15px;
  background-color: rgb(232, 229, 229);
}

/* Photo Gallery */
img {
  height: 100%;
  width: 100%;
}
.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  grid-auto-flow: dense;
  background-color: darksalmon;
  border-radius: 10px;
  padding: 15px;
  margin-top: 50px;
}
.vertical {
  grid-row: span 2;
}

.big {
  grid-row: span 2;
  grid-column: span 2;
}

.horizontal {
  grid-column: span 3;
}
